= form_for @championship do |f|
  - if @championship.errors.any?
    #error_explanation
      %h3= "#{pluralize(@championship.errors.count, "error")} prohibited this championship from being saved:"
      %ul
        - @championship.errors.full_messages.each do |msg|
          %li= msg
  .form-group.row 
    = f.label "Nombre:",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.text_field :name,class:"form-control"
  .form-group.row
    = f.label "Cantidad minima de equipos",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.number_field :quantity_min_teams,class:"form-control"
  .form-group.row
    = f.label "Fecha inicio inscripción",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.text_field :date_initial_inscription,class:"form-control"
  .form-group.row
    = f.label "Fecha fin inscripción",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.text_field :date_end_inscription,class:"form-control"
  .form-group.row
    = f.label "Duración partido",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.text_field :match_duration,class:"form-control"
  .form-group.row
    = f.label "Cant. Partidos simultaneos",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      = f.text_field :matches_simultanius,class:"form-control"
  .form-group.row
    = f.label "Dias de juego",class:"col-sm-3 col-md-2 col-form-label"
    .col-sm-6.col-xs-12.col-md-4
      - @days.each do |key,day|
        = day      
        = check_box_tag "days[]", key, @championship.game_days.include?(key.to_s)

  .form-group.row
    .offset-md-2.col-md-4
      %button.btn.btn-success{"type"=>"submit"}
        %i.fa.fa-floppy-o{"aria-hidden"=>"true"}
        %span  Guardar
      %a.btn.btn-secondary{"href"=>"/championships"} <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Atras   
      
