.col-xs-12.white
  .box       
    .big-padding
      %p#notice= notice
      %table.table
        %thead
          %tr
            %th.text-center{:colspan => 2,style:"text-align:left;"}= @championship.name
        %tbody
          %tr
            %td Cantidad equipos:
            %td= @championship.quantity_min_teams
          %tr
            %td Fecha inicio inscripción:
            %td= @championship.date_initial_inscription
          %tr
            %td Fecha fin inscripción:
            %td= @championship.date_end_inscription
          %tr
            %td Duración partido:
            %td= @championship.match_duration
          %tr
            %td Cantidad partidos simultaneos:
            %td= @championship.matches_simultanius
          %tr
            %td Dias de juego:
            %td
              - @days.each do |key,day|
                - if @championship.game_days.include?(key.to_s)
                  = day

      %br
      = link_to 'Editar', edit_championship_path(@championship),:class=>'btn btn-primary'
      = link_to 'Atras', championships_path,:class=>'btn btn-secondary'
