.col-xs-12.col-sm-12.col-md-12.col-lg-12{"style"=>"background: white;"}
  .big-padding
    .big-padding{"style"=>"border:solid #f7f7f9;"}
      %h1 Tabla de eventos por jugador
      .row.big-padding
        = form_tag '/staticstics/table-events', method: :get do
          .col-sm-3
            = select_tag :championship_id, options_from_collection_for_select(Championship.all, "id", "name", params[:championship_id]), prompt: "Campeonato", class: "form-control"
          .col-sm-3
            = select_tag :event_id, options_from_collection_for_select(Event.all, "id", "name", params[:event_id]), prompt: "Evento", class: "form-control"
          .col-sm-2
            = submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md"      
      - if @events.present?
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Name
              %th Equipo
              %th Cantidad

          %tbody
            - position = 1
            - @events.each do |event|
              %tr
                %td= position
                %td= event[2]
                %td= event[0]
                %td= event[5]
                - position = position + 1

   