.col-xs-12.white
  .box       
    .big-padding
      %h1 Listado eventos
      %table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
        %thead
          %tr
            %th Nombre
            %th
            %th
            %th

        %tbody
          - @events.each do |event|
            %tr
            %td= event.name
            %td= link_to 'Ver', event
            %td= link_to 'Editar', edit_event_path(event)
            %td= link_to 'Eliminar', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
      = link_to 'Nuevo evento', new_event_path
