.col-xs-12.white
  .box       
    .big-padding
      %p#notice= notice
      %table.table
        %thead
          %tr
            %th.text-center{:colspan => 2,style:"text-align:left;"}= @event.name
        %tbody
          %tr
            %td 
              = '¿El evento suma al marcador ? '
              - if @event.id == 3
                = 'SI'
              - else
                = 'NO'
      %br
      = link_to 'Editar', edit_event_path(@event),:class=>'btn btn-primary'
      = link_to 'Atras', events_path,:class=>'btn btn-secondary'
