.col-xs-12.col-sm-12.col-md-12.col-lg-12{"style"=>"background: white;"}
  .big-padding
    .big-padding{"style"=>"border:solid #f7f7f9;"}
      %h1 Players
      %table.table.table-striped 
        %thead
          %tr
            %th #
            %th 
            %th Nombres
            %th.hidden-sm-down Teléfono
            %th.hidden-sm-down Correo
            %th.hidden-sm-down Celular
            %th.hidden-sm-down Identificación
            %th.hidden-sm-down Equipo
            %th

        %tbody
          - @players.each do |player|
            %tr
              %td= player.id
              %td
                .avatar-team{style:"background-image:url(#{player.foto.url(:thumb)});"}
              %td
                = player.first_name
                = player.last_name
              %td.hidden-sm-down= player.telefono
              %td.hidden-sm-down= player.email
              %td.hidden-sm-down= player.movil
              %td.hidden-sm-down= player.number_id
              %td.hidden-sm-down= player.team.name
              %td
                .dropdown
                  %button.btn.btn-secondary.dropdown-toggle{"type"=>"button","id"=>"actions","data-toggle"=>"dropdown","aria-haspopup"=>"true","aria-expanded"=>"false"} Acciones
                  .dropdown-menu{"aria-labelledby"=>"actions"}
                    = link_to 'Ver', player,:class=>"dropdown-item"
                    = link_to 'Editar', edit_player_path(player),:class=>"dropdown-item"
                    = link_to 'Eliminar', player, :method => :delete, :class=>"dropdown-item",:data => { :confirm => 'Are you sure?' }
      %br

      %a.btn.btn-success{"href"=>"/players/new"} <i class="fa fa-plus" aria-hidden="true"></i> Add
