.col-xs-12.white
  .box       
    .big-padding
      %p#notice= notice
      %table.table
        %thead
          %tr
            %th.text-center{:colspan => 2,style:"text-align:left;"}= @player.first_name << ' ' << @player.last_name
        %tbody
          %tr
            %td Teléfono:
            %td= @player.telefono
          %tr
            %td Email:
            %td= @player.telefono
          %tr
            %td Celular:
            %td= @player.movil
          %tr
            %td Cedula:
            %td= @player.number_id
          %tr
            %td Equipo:
            %td= @player.team.name
      %br
      = link_to 'Editar', edit_player_path(@player),:class=>'btn btn-primary'
      = link_to 'Atras', players_path,:class=>'btn btn-secondary'